name: Build WASM

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use wasm-pack
        uses: jetli/wasm-pack-action@v0.3.0
        with:
          version: 'latest'

      - name: Build
        run: wasm-pack build --target nodejs --scope ria3100 --out-name index
        working-directory: ./wasm

      - name: Use Node.js 16.13.1
        uses: actions/setup-node@v2
        with:
          node-version: 16.13.1
          registry-url: 'https://npm.pkg.github.com'
          scope: 'ria3100'
          always-auth : true

      - name: publsh
        run: wasm-pack publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
        working-directory: ./wasm/pkg
